<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JM RESULTS</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <h1>SERIE A</h1>
    
    <ul>
      <% @results.each do |result| %>
      <li>
          <%= result["team1"] %> vs <%= result["team2"] %> 
          - Result: <%= result["score_team1"] %>-<%= result["score_team2"] %>

          <form class="update" action="/results/<%=result["match_id"]%>/edit" method="get">
            <input type="submit" value="Edit">
          </form>

          <form class="delete" action="/results/<%=result["match_id"]%>/delete" method="post">
            <input type="submit" value="Delete">
          </form>

      </li>
      <% end %>
    </ul>
  
</body>
</html>
